---
import Layout from "@layouts/layout.astro"
import Banner from "@components/Banner.vue"

const url = import.meta.env.PUBLIC_CMS
---

<Layout title="Contact Us - Total Health Advocacy Foundation" description="Get in touch with us via phone call or email">
	<Banner 
		background={`${url}assets/2af70ebd-15fd-433f-b985-2409e4b86616?fit=contain&height=580&width=720&format=webp`}
		title="Contact Us"
		description=""
	/>
	<section class="py-6 dark:text-stone-100">
		<div class="grid place-items-center max-w-6xl grid-cols-1 px-6 mx-auto lg:px-8">
			<div class="py-6 md:py-0 md:px-6">
				<h1 class="text-4xl font-bold text-center text-green-600">Get in touch</h1>
				<p class="pt-2 pb-4">Get our contact details below</p>
				<div class="space-y-4">
					<p class="flex items-center">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6">
							<path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path>
						</svg>
						<span> +254 702 385 050 | +254 726 225 765</span>
					</p>
					<p class="flex items-center">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6">
							<path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
							<path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
						</svg>
						<span>info@thafkenya.org</span>
					</p>
					<iframe class="h-72 w-full rounded-lg mr-4" title="Google Map" width="10" height="50" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJrbas04cULxgR7c0WWaJWqko&key=AIzaSyCAymKZhNqCjCirV6ZaR3bRTIrFRjr9YAs"></iframe>
				</div>
			</div>
		</div>
	</section>
</Layout>
