---
import {Directus} from "@directus/sdk"
import Layout from "@layouts/layout.astro"
import Banner from "@components/Banner.vue"

const url = import.meta.env.PUBLIC_CMS

const directus = new Directus(url)
let faq_data
let faqs
try{
	faq_data = await directus.items('thaf_faqs').readByQuery({
		filter:{
			status:{
				"_eq":"published"
			}
		},
		limit:-1
	})

	faqs = faq_data.data
}catch(err){
	console.error(err)
}
---

<Layout title="Frequently Asked Questions - Total Health Advocacy Foundation" description="At Total Health Advocacy Foundation, we endeavour to answer your questions to the best of our abilities">
	<Banner 
		background={`${url}assets/910c4cd4-dca9-4570-b72f-c785bc6a76ba?fit=contain&height=480&width=720&format=webp`} 
		title="Frequently Asked Questions" 
		description=""
	/>
	<section class="dark:text-stone-100">
		<div class="container flex flex-col justify-center p-4 mx-auto md:p-8">
			<h2 class="mb-12 text-2xl font-bold leading-none text-center sm:text-3xl">
				How we work
			</h2>
			<div class="flex flex-col divide-y sm:px-8 lg:px-12 xl:px-32 divide-stone-700">
				{
					faqs.map((faq) => (
						<details>
							<summary class="py-2 outline-none cursor-pointer focus:underline">
								{faq.question}
							</summary>
							<div class="px-4 pb-4">
								<p>
									{faq.answer}
								</p>
							</div>
						</details>
					))
				}
			</div>
		</div>
	</section>
</Layout>
